@{
    ViewBag.Title = "Bác sĩ";
}

<h2>Authentication Request</h2>

<div>
    <p><strong>Decrypted EmployeeID:</strong> @ViewBag.EmployeeId</p>
    <p><strong>Token:</strong> @ViewBag.Token</p>
</div>

@if (ViewBag.EmployeeId != null && ViewBag.Token != null)
{
    <p style="color: green;">Thông tin bác sĩ  đã được xử lý thành công!</p>
}
else
{
    <p style="color: red;">Thông tin xác thực không hợp lệ.</p>
}
