.carousel-inner img {
    object-fit: cover;
    height: 500px; /* Đặt chiều cao carousel */
}
.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%; /* Chuyển thành hình tròn */
    background-color: #6c757d; /* Màu xám cho trạng thái không chọn */
}

.carousel-indicators .active {
    background-color: #0d6efd; /* Màu xanh cho trạng thái được chọn */
}
